@model IEnumerable<OSS.Models.SurveySystemModels.SummaryViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:10px;">
    <div class="jumbotron marginTop">
        <h2>Best lecturer survey results</h2>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Lecturer.Initials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lecturer.Faculty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avg)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lecturer.Initials)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lecturer.Faculty.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avg)
                </td>
                @*<td>
                    <a asp-action="Details" asp-route-id="@item.Lecturer.LecturerId">Details</a> 
                </td>*@
            </tr>
            }
        </tbody>
    </table>
</div>

