@model IEnumerable<OSS.Models.SurveySystemViewModels.VotingStatisticsDetail>
@{
    ViewData["Title"] = "VotingStatisticsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:10px;">
    <div class="jumbotron marginTop">
        <h2>Voting statistics details for @ViewBag.Faculty</h2>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Specialty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialty.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="VotingStatistics">Back to faculties</a>
</div>

