@model OSS.Models.SurveySystemModels.Specialty

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specialty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpecialtyCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialtyCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpecialtyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
